[user]
   name = Daniel Noland
   email = daniel.noland@gmail.com
   signingkey = 0xB540F2BB188873FF
[transfer]
   fsckobjects = true
[fetch]
   fsckobjects = true
[receive]
   fsckobjects = true
[push]
   default = simple
   followTags = true
[color]
   branch = auto
   diff = auto
   status = auto
   ui = true
[alias]
   st = status
   ci = commit
   br = branch
   co = checkout
   df = diff
   lg = log -p --show-signature
   lgg = log --pretty=format:'%s' --graph
   lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
   lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  #tree = "forest --pretty=format:\"%C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15"
   files = ls-tree -r --name-only --full-tree HEAD

[web]
   browser = chromium
[browser "chrome"]
   cmd = /usr/bin/chromium
[credential]
   helper = cache --timeout=3600
[merge]
	tool = fugitive
[mergetool "diffconflicts"]
   cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
   trustExitCode = true
   keepBackup = false¬
[mergetool "splice"]
   cmd = "nvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
   keepBackup = false
   trustExitCode = true
[commit]
   gpgsign = false
[diff]
   difftool = splice
[core]
   pager = less -F -X
[github]
	user = daniel-noland
[ghi]
	token = 01ff7a135fc1ad4885927ab5fbae36f91f6f5290
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
